<nav>
    <div class="nav-bar">
        <div  class="logo">
            <a href="#">MYPCB</a>
        </div>
        <div class="nav-items">
            <a href="#">
                <div class="cart">
                    MyCart <span class="material-symbols-sharp">
                        shopping_cart
                           </span>
                </div>
            </a>
            <a href="#">
                <div>
                    MyOrder <span class="material-symbols-outlined">
                        list_alt
                    </span>
                </div>
             </a>
            <a href="#">
                <div>
                    Login <span class="material-symbols-outlined">
                        login
                    </span>
                </div>
            </a>
        </div>
    </div>
</nav>